@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  @keyframes rotate-border {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .animate-border-rotate {
    animation: rotate-border 4s linear infinite;
  }
}